/* ================= General ================= */

body {

	display: flex;
	flex-wrap: wrap;

	max-width: 1200px;
	margin: 0 auto;
	padding: 0;

	background-color: #37E;

	font-family: sans-serif;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

* {

	transition: background-color 400ms;
}

/* ============ Header & Sidebar ============= */


.header {

	height: 80px;
	width: 100%;
	margin: 10px auto;

	background-color: #EEE;
	/*border: 1px solid #484;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar {

	width: 160px;
	margin-top: 9px;

	display: flex;
	flex-flow: column;
	align-self: flex-start;
	align-items: center;

	background-color: #444;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: #222;
}

.spinner {

	position: relative;
	width: 120px;
	height: 100px;
	margin: 20px auto;
}
.animation {

	position: absolute;
	width: 100px;
	height: 100px;
}

.spinner .ring {

	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	border-top: solid 10px transparent;
	border-bottom: solid 10px transparent;
	border-left: solid 10px white;
	border-right: solid 10px white;
	content: "";
	border-radius: 50px;
	animation: spinner 1s infinite ease;
}

.spinner .circle {

	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	transition: width 1s ease 1s, height 1s ease 1s, border-radius 1s ease 1s, background-color 2s;

	background-color: #AAA;
	box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	content: "";
	text-align: center;
}

@keyframes spinner {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.spinner .status::before {

	display: inline-block;
	height: 100%;
	vertical-align: middle;
	content:"";
}

.spinner .status {

	vertical-align: middle;
	font-weight: bold;
}

.action.message {

	display: none;
	margin: 10px;
	padding: 10px;

	font-weight: bold;
}


.button {

	min-width: 50px;	
	margin: 10px;
	padding: 10px;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 8px 0 rgba(0, 0, 0, 0.3);
	transition: width 1s ease 1s;
	text-align: center;
	cursor: pointer;
}

.boot.button {

	background-color: #DB1;
}
.start.button {

	display: none;
	background-color: #1A0;
}
.stop.button {

	display: none;
	background-color: #E33;
}
.reset.button {

	display: none;
	background-color: #28F;
}

/* ============ Settings Content ============= */

.content {

	flex: 1;

}

.content > div {

	margin: 10px 0 10px 20px;
}

.box {
	padding: 10px 20px;

	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel {

	display: flex;
	justify-content: space-between;
}

.error.box {

	display: none;
	background-color: #F88;
}

.info.box {

	display: none;
	background-color: #FAB45A;
}


/* -------------- Control Boxes -------------- */

.box .title {

	display: inline-block;
	margin: 10px 10px 30px;

	font-weight: bold;
	font-size: large;
}

.sources .box {

	flex: 5;
}

.groups {

	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	min-height: 200px;
	padding: 10px;

	background-color: #888;
	box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.group {

	min-width: 242px;
	margin: 10px;
	padding: 5px 0;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.group .name {

	display: inline-block;
	margin: 4px auto;
	padding: 4px 8px;


	text-align: center;
}
.group .delete {

	display: inline-block;
	float: right;
	vertical-align: top;
	padding: 3px 7px 5px;
	margin: 2px 10px 0 0;

	background-color: white;
	border: 1px solid #888;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	font-weight: bold;
}

.feed {

	display: flex;
	margin: 5px 10px;

	background-color: white;
	border: 1px solid #888;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}

.feed .add, .feed .remove {

	display: inline-block;
	padding: 3px 5px 7px;

	font-weight: bold;
	font-size: large;
	border-right: 1px solid #888;
}
.feed .add {

	padding: 5px 7px;
}

.feed .url, .feed input {

	display: inline-block;
	margin: 5px;	
}
.feed input {

	vertical-align: top;
	flex: 1;
	width: 1px;
	min-width: 1px;

	margin: 4px 5px 3px; 
	padding: 3px 1px;
	border: 1px solid #888;
	border-radius: 0;
}


.new.source {

	display: flex;
	align-items: center;
	margin-top: 10px;
}
.new.source .label {

	margin-right: 20px;
}
.new.source .wrapper {

	display: flex;
	align-items: center;
	flex: 1;
	height: 32px;
	border: 1px solid #888;	
}
.new.source .add {

	display: inline-block;
	width: 32px;
	padding: 5px 0;

	text-align: center;
	font-weight: bold;
	font-size: large;
}
.new.source input {

	vertical-align: top;
	height: 100%;
	/*padding: 0 4px;*/
	padding: 0;
	border: none;
	border-radius: 0;
}
.new.source input[type='text'] {

	border-left: 1px solid #888;
	border-right: 1px solid #888;
	flex: 1;
}
.new.source input[type='color'] {

	width: 40px;
	padding: 0;
}



.presets {

	margin: -10px 0 -10px 10px;
	flex: 1;
}

.preset {

	height: 40px;
	margin: 10px 0;
	text-align: center;
}
.preset._1 {

	background-color: #a91717;
	color: white;
}

.control.panel.settings::after {

	display: block;
	flex: 1;
	margin: -10px 0 -10px 10px;
	content: ""
}
.control .box {

	flex: 5;	
}

.options {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.option {

	display: inline-table;
	margin: 5px 40px 5px 5px;
	padding: 5px; 

	background-color: #EEE;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.option .wrapper {

	display: inline-flex;
	flex-direction: column;
}

.option input {

	margin: 5px; 
	padding: 5px;
	padding-right: 0;
	border: 1px solid #888;
	border-radius: 0;
}
.option input[type='number'] {

	width: 50px;
}
.option input[type='radio'] {

	vertical-align: middle;
}
.option input[type='date'] {

	width: 130px;
	margin-left: 0;
	padding: 2px 5px;
}

/* ------------- Final Behaviors ------------- */

.add:before {
	content: "+";
}
.remove:before {
	content: "\2014";
}
.delete:before {
	content: "x";
}
.add:hover, .remove:hover, .delete:hover, .preset:hover {

	background-color: #DDD;
	cursor: pointer;
}
.add, .remove, .delete {

	transition: background-color 200ms;
}


/* ============== Data Content =============== */

.sidebar .data.tabControls {

	position: absolute;
	width: 140px;
	height: 236px;

	display: flex;
	flex-flow: column;
	align-items: center;

	background-color: #444;
	transform: translate(0, 200px);
	cursor: default;
}

.data.tabControls > a {

	background-color: #EEE;
	width: 100px;

	cursor: pointer;
}

.data > .title {

	margin-bottom: 20px;

	display: flex;
	justify-content: space-between;

	font-weight: bold;
	font-size: larger;
}

.chartWrapper line, .chartWrapper .domain{ /* axes etc */

	display: none;
}

.chartWrapper .axisRect {

	fill: black;
}

.chartWrapper .axisBgRect {

	fill: white;
}

.chartWrapper .axisLabel {

	position: relative;
	width: 40%;
	margin: auto;
	text-align: center;
}

.chartWrapper .legend {

	position: relative;
	width: 20%;
	padding: 4px 8px; 

	background-color: white;
	border: 1px solid #4D4D4D;
}

.chartWrapper .legendColor {

	float: right;
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 2px;
	border: 1px solid #4D4D4D;
}

/* ---------- General Statistics ------------- */


#generalStatisticsChart {

	margin: 0 50px 20px;
	width: 880px;
	height: 400px;
	overflow: hidden;
}

#generalStatisticsChart .graphLine.line_0{

    fill: #EEDF4F;
    stroke: #EEDF6F;
    stroke-width: 1;
}


#generalStatisticsChart .graphLine.line_1{

    fill: #60BD68;
    stroke: #60BD68;
    stroke-width: 1;
}

#generalStatisticsChart .legend_0 .legendColor {

	background-color: #EEDF4F;
}

#generalStatisticsChart .legend_1 .legendColor {

	background-color: #60BD68;
}

.statsList > li {

	display: flex;
	justify-content: flex-start;
	margin-bottom: 8px;
	border-bottom: 1px solid #CCC;
}

.statsList .label {
	
	width: 75%;
}

.statsList .value {
	
	width: 100px;
	text-align: right;
}


/* --------------- News List ----------------- */

.groupItem, .newsItem {

	margin-bottom: 10px;
	padding: 15px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: #F0F0FF;
}

.newsItem {

	padding: 5px 10px;
}

.groupItem > div, .newsItem > div {

	display: inline-block;
}

.groupItem > .name, .newsItem > .headline {

	flex-grow: 1;
	padding-right: 10px;
}

.groupItem > .rate, .newsItem > .rate {

	flex-shrink: 0;
}

.newsItem > .filter {

	margin-right: 8px;
	width: 21px;
	height: 21px;

	border: 1px solid #555;
	border-radius: 4px;
	background-color: white;
	cursor: pointer;
}

.newsItem > .filter span {

	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 3px;
	border-radius: 2px;
}

.newsItem [type=checkbox]:checked + span {

	background-color: #333;
}

.newsItem > .filter > input {

	display: none;
}